body.adminlog-page {
    font-family: Arial, sans-serif;
    background-color: #eadbce;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-navigation {
    text-align: left; /* Align the content to the left */
    margin: 20px;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: auto; /* Center the login container horizontally */
}

button {
    background-color: #998064;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #77644e;
}

h2 {
    margin-top: 0;
    text-align: left;
}
.form-group {
    margin: 15px 0;
    text-align: left;
}
.form-group2 {
    margin: 15px 0;
    text-align: center;
}
label {
    display: block;
    font-weight: bold;
}
input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.login-button {
    background-color: #998064;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.login-button:hover {
    background-color: #77644e;
}
.button-link {
    display: inline-flex;
    padding: 10px 20px;
    margin: 5px; 
    text-align: center;
    text-decoration: none;
    background-color: #998064;
    color:black; 
    border-radius: 5px; 
    font-size: 16px;
    cursor: pointer;
    vertical-align: top;
  }

  
  .button-link:hover {
    background-color: #77644e;
  }

