body {
    font-family: Arial, sans-serif;
    background-color: #eadbce;
}

h1 {
    color: #333;
    text-align: left;
}
label{
    margin-right: 50px;
    line-height: 1.5;
}

form {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: #ddd;
    padding: 10px;
    margin:10px;
}

.container {
    margin: 10px;
    display: flex;
}
.login-button {
    background-color: #998064;
    color: black;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.login-button:hover {
    background-color: #77644e;
}
.logout {
    float: right;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px; 
    font-size: 16px;
    background-color: #998064;
    color:black;
    text-decoration: none;
    text-align: center;
}

.logout:hover {
    background-color: #77644e;
}

legend {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    text-align: center; /* Center the legend */
}

div.legend-container {
    text-align: center; /* Center the legend container */
}

canvas#myChart {
    width: 900px; /* Adjust the width as needed */
    height: 700px; /* Adjust the height as needed */
    display: block; /* Ensure the canvas is a block element */
    margin: 0 auto; /* Center the canvas */
    background-color: #ffffff; /* Match the background color of the form */
    border-radius: 5px; /* Add some rounding to the corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}
