body {
    font-family: Arial, sans-serif;
    background-color: #eadbce;
}
h2, p{
    color: #333;
    text-align: center; 
    margin-top: 50px;
}

  .button-link {
    display: inline-flex;
    padding: 10px 20px;
    margin: 5px; 
    text-align: center;
    text-decoration: none;
    background-color: #998064;
    color:black; 
    border-radius: 5px; 
    font-size: 16px;
    cursor: pointer;
    vertical-align: top;
  }

  
  .button-link:hover {
    background-color: #77644e;
  }