body {
    font-family: Arial, sans-serif;
    background-color: #eadbce;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

button {
    background-color: #998064;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #77644e;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: calc(20vh - 20px); /* Adjusted to place at the upper third */
}

.userData {
    text-align: left;
    margin-bottom: 20px; /* Add space between lines of user data */
}

.logout {
    position: absolute;
    top: 100px;
    right: 100px;
    padding: 10px 20px;
    background-color: #998064;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.logout:hover {
    background-color: #77644e;
}

canvas {
    background-repeat: repeat-y;
}

legend {
    text-align: center;
    margin: 20px auto; /* Adjust the margin as needed */
}
