body {
    font-family: Arial, sans-serif;
    background-color: #eadbce;
}
h1 {
    color: #333;
    text-align:left ;
}

form {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border:#ddd;
}
.container {
    margin: 10px;
    display: flex;
  }
.logout{
    float: right;
    padding: 10px 20px;
    width:80px;
    background-color: #998064;
}
.logout:hover {
    background-color: #77644e;
}
legend {
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.login-button {
    background-color: #998064;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.login-button:hover {
    background-color: #77644e;
}

a {
    display: block;
    width: 20%;
    padding: 5px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
}